<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no,email=no">
    <title>Test</title>
</head>
<body>
<div id="app">
    <h1>Here my test template</h1>

    <modal></modal>
    <el-button type="primary">To Customer Home Page</el-button>

    <%- include ../../../components/menu/menu.ejs %>

    <%- include ./partial.ejs %>
</div>

</body>
</html>
